// .chbox {
//     margin: 3px;
//     padding: 0px;
//  }

.login {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-49%, -49%);
    transform: translate(-49%, -49%);
    width: 90%
 }
 
 .registration {
    position: absolute;
    left: 5%;
    width: 90%
 }
 
 .login-header {
    background: var(--ion-color-primary);
 }
 
 .logo-image {
    display: block; 
    width: 120px;
    margin: 0 auto;
    text-align: center;
 }
 
 [heading-column-lr] {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
 }
 
 [big-heading] {
    font-size: 30px !important;
    color: var(--ion-color-dark);
 }
 
 [small-heading] {
    margin-left: auto;
    padding-right: 40px;
    font-size: 15px;
 }
 
 [transparent] {
    background: transparent;
 }
 
 ion-input {
    --color: #000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
 }
 
 [icon-small] {
    width: 30px;
 }
 
 ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-invalid: #000;
    --highlight-color-valid: #ddd;
    --min-height: 65px;
    --padding-start: 0;
 } 
 
 ion-label {
    color: #000;
    opacity: .8;
    font-size: 13px;
    display: block;
 }
 
 .forgot-password {
    color: var(--ion-color-primary);
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 10px
 }
 
 .link-button {
    color: var(--ion-color-primary)
 }
 
 .demo-login {
    color: var(--ion-color-primary);
    margin-left: 80px;
 }
 
 .chbox {
    margin-right: 5px;
 }