<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vaishnavi Academy-JEE</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-item>
    <ion-label>First Name:</ion-label>
    <ion-label class="ion-text-wrap">
      <h3>{{userInfo.firstName}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Last Name:</ion-label>
    <ion-label class="ion-text-wrap">
      <h3>{{userInfo.lastName}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Contact No.:</ion-label>
    <ion-label class="ion-text-wrap">
      <h3>{{userInfo.contactNo}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Email Id:</ion-label>
    <ion-label class="ion-text-wrap">
      <h3>{{userInfo.email}}</h3>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Device Id</ion-label>
    <ion-input
      name="deviceId"
      [(ngModel)]="userInfo.deviceId"
      #deviceId="ngModel"
      type="text"
      disabled
    >
    </ion-input>
  </ion-item>

  <ion-item class="ion-no-margin-botton">
    <ion-label position="stacked"> Verification Key</ion-label>
    <ion-input
      id="tbNum"
      name="key"
      [(ngModel)]="userInfo.appKey"
      #key="ngModel"
      type="text"
      maxlength="19"
      (ionChange)="onKeyUp($event)"
      [disabled]="disableVerificationField"
    >
    </ion-input>
  </ion-item>

  <ion-item class="ion-no-padding ion-no-margin-top" lines="none">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="block"
            color="primary"
            fill="outline"
            type="submit"
            (click)="offlineRegister()"
            size="default"
            [disabled]="disableVerificationField || userInfo.appKey.length < 19"
          >
            Verify Key
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-button (click)="takeScreenShot()" expand="block" fill="clear" shape="round">
    Take Screenshot
  </ion-button>
</ion-content>
