<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{subjectName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="background" *ngFor="let chapter of chapterList; let i = index">
    <ion-item>
      <ion-label
        class="ion-text-wrap"
        (click)="onChapterName(chapter.chapter_name, chapter.fileExist, i)"
        >{{chapter.chapter_name}}</ion-label
      >
      <ion-icon
        name="download"
        slot="end"
        class="ion-no-margin"
        color="danger"
        *ngIf="!chapter.fileExist && !chapter.downloading"
        (click)="onDownloadFile(chapter.chapter_name, i)"
      ></ion-icon>
      <ion-icon
        name="open"
        slot="end"
        color="success"
        class="ion-no-margin-end"
        *ngIf="chapter.fileExist && !chapter.downloading"
        (click)="onOpenFile(chapter.chapter_name, i)"
      ></ion-icon>
      <ion-spinner
        name="lines"
        slot="end"
        *ngIf="chapter.downloading"
      ></ion-spinner>
    </ion-item>
  </ion-card>
</ion-content>
